.all{
    font-weight: bold;
    padding: 5px;
    font-size: 20px;
    border-radius: 8px;
    margin: 5px 3%;
}
.name {
    width: 40%;
    display: inline-block;
}
.date {
    width: 30%;
    display: inline-block;
}
.button {
    width: 10%;
    background-color: red;
    color: white;
    right: 10px;
}
.button:hover{
    background-color: rgb(134, 8, 29);
}
.button:active{
    background-color: red;
}